.add-new-product {
    padding-top: 101px;
    border: 1px solid #000000;

    .container {
      display: flex;
      justify-content: flex-start;
  
      .btn-theme {
/*        text-decoration: none;
        margin: 30px 0px 30px 0px;
        font-family: $font-poppins;
        padding: 10px 15px;
        border: 1px solid $color-dark-5;
        background-color: $color-white;
        color: $color-dark-1;
        transition: all 0.5s ease-in-out;*/
  
        &:hover {
          border: 1px solid $color-dark-2;
          background-color: $color-dark-2;
          color: $color-white;
        }
      }
    }
  }
  