.add-new-product {
    padding-top: 100px;
    padding-bottom: 40px;

    .container {
      display: flex;
      justify-content: flex-start;
  
      .btn-theme {
  
        &:hover {
          border: 1px solid $color-dark-2;
          background-color: $color-dark-2;
          color: $color-white;
        }
      }
    }
  }
  