@model ProductEntity

<section class="product-detail-card">
    <div class="container">
        <div class="product-detail-flex">
            <div class="product-detail-image">
                <div class="large-image">
                    <img src="/Images/placeholders/501x430.svg" alt="">
                </div>
                <div class="small-images">
                    <img src="/images/placeholders/120x113.svg" alt="">
                    <img src="/images/placeholders/120x113.svg" alt="">
                    <img src="/images/placeholders/120x113.svg" alt="">
                    <img src="/images/placeholders/120x113.svg" alt="">
                </div>
            </div>
            <div class="product-detail-info">
                <div class="product-detail-name">@Model.ProductName</div>
                <p class="product-detail-description">@Model.Description</p>
                <div class="product-detail-rating">
                    <i class="rating fa-solid fa-star"></i>
                    <i class="rating fa-solid fa-star"></i>
                    <i class="rating fa-solid fa-star"></i>
                    <i class="rating fa-solid fa-star"></i>
                    <i class="rating fa-solid fa-star"></i>
                    <span>49 Reviews</span>
                </div>
                <div class="product-detail-price">@Model.Price</div>
                <div class="add-to-cart">
                    <div class="quantity-counter">
                        <button class="counter-button">-</button>
                        <span class="counter-value">2</span>
                        <button class="counter-button">+</button>
                    </div>
                    <button class="btn-theme">Add to Cart<i class="fa-regular fa-cart-plus"></i></button>
                </div>
                <div class="product-detail-category">
                    <div class="category-title">Category:</div>
                </div>
            </div>
        </div>
    </div>
</section>
