@import './core/fonts';
@import './core/colors';
@import './core/mixins';

@import './components/base';
@import './components/buttons';
@import './components/collectionitem';
@import './components/collectioncontent';
@import './components/forms';

@import './components/header';
@import './components/footer';
@import './components/breadcrumb';
@import './components/map';
@import './components/showcase';
@import './components/bestcollection';
@import './components/uptosell';
@import './components/topselling';
@import './components/newsletter';
@import './components/contactform';
@import './components/_loginform.scss';
@import './components/_registerform.scss';
@import './components/_addnewproduct.scss';
@import './components/_newproductform.scss';
@import './components/_detailedcard.scss';
@import './components/_allproducts.scss';
@import './components/_userlist.scss';